.second-section {
    padding: 5em 0;
    position: relative;
    padding: 150px 0;
}

.second-section-bg {
    position: absolute;
    opacity: 0.2;
    display: none;
}

.second-section-icon-wrapper {
    display: none;
}

.second-section-icon-wrapper img {
    height: 100px;
}

.second-section-title {
    display: grid;
    padding-bottom: 50px;
}

.second-section-title span:nth-child(1) {
    text-align: center;
    font-size: 40px;
    color: #3934A1;
    width: 90%;
    margin: auto;
}
.second-section-title span:nth-child(2) {
    text-align: center;
    padding: 20px 0 70px 0;
    font-size: 20px;
    width: 60%;
    margin:auto;
}

.second-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: auto;
}
.second-section-content-box {
    padding: 70px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.second-section-content-box:nth-child(2), .second-section-content-box:nth-child(4) {
    margin-left: auto;
}

.second-section-content-box-title {
    font-weight: bold;
    font-size: 22px;
    padding: 15px 0;
}

.second-section-content-box-description {
    font-weight: 300;
    line-height: 24px;
    color: #303030;
}

.second-section-content-img-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    opacity: 0.3;
    transform-origin: center;
    transform: translate(-50%,-50%);
}

.second-section-content-img-wrapper img {
    max-width: 350px;
    -webkit-animation: earth 60s infinite linear;
    -moz-animation: earth 60s infinite linear;
    -o-animation: earth 60s infinite linear;
    animation: earth 60s infinite linear;
}

@keyframes earth {
    0% {transform: rotate(0deg) ;}
    100% {transform: rotate(360deg) ;}
}
@-moz-keyframes earth {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-o-keyframes earth {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes earth {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@media only screen and (max-width:2000px) {
    .second-section-content { 
        width: 70%;
    }
}
@media only screen and (max-width:1600px) {
    .second-section-content { 
        width: 80%;
    }
}
@media only screen and (max-width:1400px) {
    .second-section-content { 
        width: 90%;
    }
}

@media only screen and (max-width:1150px) {
    .second-section-title span:nth-child(1) {
        font-size: 30px;
    }
    .second-section-title span:nth-child(2) {
        font-size: 15px;
        width: 80%;
    }
    .second-section-content {
        grid-template-columns: 1fr;
    }
    .second-section-content-box {
        margin: auto !important;
        text-align: center;
        padding: 40px 0;
        width: 90%;
    }
    .second-section-content-box-description{ 
        font-size: 15px;
    }
    .second-section-icon-wrapper {
        display: inline;
    }
    .second-section-content-img-wrapper {
        top: 50%;
        left: 100%;
        opacity: 0.1;
        transform: translate(-50%,-50%);
    }
    .second-section-content-img-wrapper img {
        max-width: 550px;
    }
}