.third-section {
    background: url('../assets/third-section-bg.svg');
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.third-section-title {
    display: grid;
    text-align: center;
    font-size: 50px;
    padding-top: 250px;
}

.third-section-title span:nth-child(2) {
    font-size: 20px;
    padding-top: 30px;
}
