/* @font-face {
    font-family: myfont;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
} */

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet');
}


.App {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
