
@font-face {
    font-family: 'my font';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'my font', sans-serif;
    letter-spacing: 1px;
}

.App {
    overflow: hidden;
}
